/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  width: 33%;
}

h2 {
  margin: 0;
}
